# PAGBANK API CREDENTIALS
PAGBANK_TOKEN=16a9aa69-d7e4-42c7-9688-ed95ac1e47cf5b77fe6e4bb0b273825a39cf3919dc700987-52dd-45fa-9d9c-29137dd10a7c

# EMAIL ADMIN - Recebe notificações de novos pedidos
ADMIN_EMAIL=santossilvac990@gmail.com

# SERVER CONFIG
PORT=3000

# POSTGRESQL DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_NAME=alimentares
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui

# AMBIENTE (development, production)
NODE_ENV=development
